.pop-msg {
    padding: 1em;
    border: solid 1px #EEE;
    border-radius: 5px;
    position: fixed;
    top: 1em;
    /* left: 50%; */
    width: 500px;
    /* margin-left: 350px; */
    min-height: 600px;
    right: 1em;
}
.next-match {
    border: solid 1px #CCC;
    border-radius: 5px;
}